---
import App from "../components/App";
import Layout from "../layouts/Layout.astro";
---

<Layout
  headerTitle="Spotify Song Deduplicator"
  title="Spotify Song Deduplicator"
>
  <main class="bg-gray-100">
    <App client:load />
  </main>
</Layout>
